body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

.helper {
	margin: 0;
	color: grey;
	font-size: 1.5rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 60px;
    
}

.grid-item {
    background-color: #ffff;
    text-align: center;
    padding: 60px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px; 
}

.grid-item h3 {
    font-size: 24px;
    margin: 0;
}

.price {
    color: #af6005c2;
    font-weight: bold;
    font-size: 2rem;
}

/* Media queries */
/* Medium screens: 2 cards per row */
@media only screen and (min-width: 576px) and (max-width: 991px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Small screens: 1 card per row */
@media only screen and (max-width: 575px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
